body {
    background-color: #FCFCFC;
}

#about-us {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 50px; /* Space for Navbar */
}

main .container-fluid {
    margin: 0;
    padding: 0;
}

main .row {
    margin: 0;
}

main div{
    overflow: hidden;
}

div[class^="col"] {
    padding: 0;
}

.about-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 46.88px;
}

main p {
    margin: 2% 0;
}

main img {
    width: 100%;
    height: auto;
}

.paragraphs {
    padding: 0 8%;
}

.about-content >  .paragraphs > p {
    font-family: 'Libre Caslon Text', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24.22px;
} 

.figures {
    background-color: #F2F1F1;
}

.figures div p {
    margin: 0;
    padding: 0;
}

.figures div {
    padding: 10px 0;
}

.descriptions {
    font-family: 'Libre Caslon Text', serif;
    font-weight: 500;
    font-size: 24px;
}

.figures div p:nth-child(even) {
    margin-top: -10px;
}

.numbers {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 80px;
}

.units {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

#about-us {
    margin-bottom: 30px;
    box-shadow:  0 3px 10px -4px rgb(0 0 0 / 0.2); 
}

#our-customers {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media only screen and (max-width: 375px) {
    .about-heading {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1440px) {
    .about-content {
        padding-top: 90px;
    }
}