/* footer - start */
.footer {
  height: 50px;
  margin: 0 2em;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  align-self: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  margin: 0;
}

.footer__icons {
  align-self: center;
}

.m-footer {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.m-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 110px;
}

.m-footer_li {
  margin: 0.2em;
}

.m-footer__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.m-footer__icons-container {
  width: 110px;
}

.m-footer__icons {
  margin: 0 0.3em 0.7em 0;
}

.m-footer__copy {
  padding-top: 2em;
  text-align: center;
  margin: auto;
}

.desktop {
  display: block;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.mobile {
  display: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

/* footer - end */
