.main {
  color: white;
  background-image: url("/assets/img/home_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  padding: 2em 0;
  display: flex;
}

.main__left {
  margin-left: 10%;
  align-self: center;
  margin-right: 3em;
}

.main__right {
  margin-left: 3em;
  align-self: center;
  margin-right: 10%;
}

.main__heading {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4rem;
}

.main__text {
  font-weight: 500;
  font-size: 1.2rem;
}

.main__logo {
  width: 300px;
  height: auto;
}

.main__icons {
  width: 300px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
